/* Google Font link */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #212428;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
}

header
{       
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    transition: .3s;
}

header .row
{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 122px;
}

header .row .col-1
{
    flex: 0 0 30%;    
}

header .row .col-2
{
    flex: 0 0 70%;    
}

header .logo
{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 30px;    
}

header .logo a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none; 
    color: #fff;  
}

header .logo img
{
    width: 40%;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);    
}

header .logo a span
{
    font-size: 20px;
    margin-left: 10px;
}

header .header-menu .main-menu
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
}

b{
    color:  #ff014f;
}

.main-menu .nav-item
{
    margin: 10px 14px;
}

.main-menu .nav-item .nav-link
{
    margin: 0.5rem 1rem;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    transition: .4s;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.main-menu:hover .nav-item .nav-link
{
    opacity: 0.5;
}

.main-menu .nav-item .nav-link:hover,
.main-menu .nav-item.current .nav-link
{
    color: #fff;
    opacity: 1 !important;
}

.toggle
{
    display: none;
}

.popup-mobile-menu
{
    display: none;
}

.home .home-inner
{
    padding-top: 220px;
    padding-bottom: 100px;
    position: relative;    
}

.container
{
    max-width: 1320px;
    margin: 0 auto;
}

.home .row
{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    margin-right: 10px;
}

.home .row .column-1
{
    flex: 0 0 70%;
    max-width: 70%;
}

.home .row .column-2
{
    flex: 0 0 30%;
    max-width: 30%;
}

.home .content .inner .subtitle
{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
    
}

.home .content .inner .title
{
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
}

.home .content .inner .title .name
{
    color: #ff014f;
    
}

.home .content .inner .title .typed-text
{
    font-weight: 600;
    position: relative;
}

.home .content .inner .title .typed-text::after
{
    content: '';
    position: absolute;
    top: 10%;
    right: -10px;
    width: 2px;
    height: 80%;
    background: rgba(255,255,255,0.3);
    transform: translateX(-50%);
}

.home .content .inner .description
{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding-right: 75%;
    opacity: 0.9; 
    display: flex;
    flex-wrap: wrap;      
}

.home .content .inner
{
    margin-bottom: 142px;
}

.home .content .row
{
    display: flex;
    justify-content: space-between;
}

.home .content .row .col-1,
.home .content .row .col-2
{
    flex-direction: 0 0 50%;
}

.home .social .title
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.home .social .social-share
{
    display: flex;
    
}

.home .social .social-share li
{
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin: 10px 12px;
}

.home .social .social-share li a
{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: .4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
    position: relative;
    color: #fff;
}

.home .social .social-share li a:hover
{
    transform: translate(-3px);
}

.home .social .social-share li a:hover i
{
    color: #fff;
}

.home .content .skills .title
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.home .content .skills .skills-inner li
{
    margin: 10px 12px;
    line-height: 55px;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
    position: relative;
}

.home .content .skills .skills-inner li:hover
{
    transform: translate(-3px);
}

.home .content .skills .skills-inner li:hover i
{
    color: #fff;
}

.home .content .skills .skills-inner li img
{
    max-height: 30px;
    width: auto;
    margin-top: 18px;
    display: inline-block;
}

.home .profile
{
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 600px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
                -10px -10px -19px #262a2e;
    border-radius: 6px;
    
}

.home .profile .profile-image
{
    text-align: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.home .profile .profile-image img
{
    vertical-align: middle;
    max-width: 100%;
    max-height: 600px;
}

/* ============================== */

#about{
    width: 100%;
    padding: 1.5em;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;    
}

.heading h2{
    font-size: 1.9em;
    color: #ff014f;
    text-transform: capitalize;
    margin: 1em auto .2em auto;
}

.divider {
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px #ff014f inset;
    border-width: 4px 4px 4px 4px;
    transform: rotate(135deg);
    margin-left: 48.5%;
}


.heading p {
    margin: .7em auto;
    font-family: 'Montserrat', sans-serif;    
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding-right: 16%;
    padding-left: 10%;
    opacity: 0.9;

}

.container p{     
    width: 1370px;      
}


table {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Style buttons */
.btn {
    background-color: #ff014f;
    border: none;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #ff014d56;
  }

  .contentor{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentor p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
    width: 1400px;   
    display: flex;   
    flex-wrap: wrap;
    text-align: justify;  
     
}
  td img{
    transition: all 1000ms ease-in-out;
    border-radius: 20px;
  }

  td:hover img{
    transform: scale(1.2);
    z-index: 2; 
  }


  .box{
    width: 250px;
    height: auto;
    margin: 0 40px; 
    margin-top: 30px;  
    
  }

  .box img{
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: all 1000ms ease-in-out;
  }

  .box:hover img{
    transform: scale(1.2);
    z-index: 2;    
  }

  /*.responsive img{
    border-radius: 20px;
  }*/

  .profile-image img{
    display: block;
    width: 100%;
    border-radius: 20px;
  }

/*Link não visitado */
a:link {
    color: #ff014f;
    text-decoration: none;
  }
  
  /*Link já visitado*/
  a:visited {
    color: yellow;
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color: #fff;
    text-decoration: none;
  }
 