/* Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {font-family: "Material Symbols Outlined";src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v35/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format("woff2");}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #212428;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
}

header
{       
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    transition: .3s;
}

header .row
{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 122px;
}

header .row .col-1
{
    flex: 0 0 15%;    
}

header .row .col-2
{
    flex: 0 0 85%;    
}

header .logo
{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 20px;    
}

header .logo a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none; 
    color: #fff;  
}

header .logo img
{
    width: 40%;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);    
}

header .logo a span
{
    font-size: 20px;
    margin-left: 10px;
}

header .header-menu .main-menu
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
}

b{
    color:  #ff014f;
}

.main-menu .nav-item
{
    margin: 10px 14px;
}

.main-menu .nav-item .nav-link
{
    margin: 0.5rem 1rem;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    transition: .4s;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.main-menu:hover .nav-item .nav-link
{
    opacity: 0.5;
}

.main-menu .nav-item .nav-link:hover,
.main-menu .nav-item.current .nav-link
{
    color: #fff;
    opacity: 1 !important;
}

.toggle
{
    display: none;  
    
}

.popup-mobile-menu
{
    display: none;
    height: 100px;
    width: 130px;
    overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1e22;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff014f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.home .home-inner
{
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;    
}

.container
{
    max-width: 1320px;
    margin: 0 auto;
}

.home .row
{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    margin-right: 10px;
    margin-bottom: 100px;
    justify-content: center;
}

.home .row .column-1
{
    flex: 0 0 70%;
    max-width: 70%;
}

.home .row .column-2
{
    flex: 0 0 30%;
    max-width: 30%;
}

.home .content .inner .subtitle
{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    
}

.home .content .inner .title
{
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
}

.home .content .inner .title .name
{
    color: #ff014f;
    
}

.home .content .inner .title .typed-text
{
    font-weight: 600;
    position: relative;
}

.home .content .inner .title .typed-text::after
{
    content: '';
    position: absolute;
    top: 10%;
    right: -10px;
    width: 2px;
    height: 80%;
    background: rgba(255,255,255,0.3);
    transform: translateX(-50%);
}

.home .content .inner .description
{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding-right: 16%;
    opacity: 0.9;    
}

.home .content .inner
{
    margin-bottom: 142px;
}

.home .content .row
{
    display: flex;
    justify-content: space-between;
}

.home .content .row .col-1,
.home .content .row .col-2
{
    flex-direction: 0 0 50%;
}

.home .social .title
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.home .social .social-share
{
    display: flex;
    
}

.home .social .social-share li
{
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin: 10px 12px;
}

.home .social .social-share li a
{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: .4s;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
    position: relative;
    color: #fff;
}

.home .social .social-share li a:hover
{
    transform: translate(-3px);
}

.home .social .social-share li a:hover i
{
    color: #fff;
}

.home .content .skills .title
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

.home .content .skills .skills-inner li
{
    margin: 10px 12px;
    line-height: 55px;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 70%);
    position: relative;
}

.home .content .skills .skills-inner li:hover
{
    transform: translate(-3px);
}

.home .content .skills .skills-inner li:hover i
{
    color: #fff;
}

.home .content .skills .skills-inner li img
{
    max-height: 23px;
    width: auto;
    margin-top: 18px;
    display: inline-block;
}

.home .profile
{
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 600px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
                -10px -10px -19px #262a2e;
    border-radius: 6px;    
}

.home .profile .profile-image
{
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

.home .profile .profile-image img
{
    vertical-align: middle;
    max-width: 100%;
    max-height: 600px;
}

/* ============================== */

#about{
    width: 100%;
    padding: 1.5em;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;    
}

.heading h2{
    font-size: 1.9em;
    color: #ff014f;
    text-transform: capitalize;
    margin: 1em auto .2em auto;
}

.divider {
    position: absolute;
    padding: 20px;
    box-shadow: 2px -2px 0 1px #ff014f inset;
    border-width: 4px 4px 4px 4px;
    transform: rotate(135deg);
    margin-left: 50%;
}

.heading p {
    margin: .7em auto;
    font-family: 'Montserrat', sans-serif;    
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    padding-right: 16%;
    padding-left: 16%;
    opacity: 0.9;
}

.heading a:link {
    color: #ff014f;
    text-decoration: none;
  }  

  /*Quando o rato passa por cima*/
  :hover {
    color: #fff;
    text-decoration: none;
  }

table {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* Style buttons */
.btn {
    background-color: #ff014f;
    border: none;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #ff014d56;
  }

  .contentor{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentor p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
    width: 1400px;   
    display: flex;   
    flex-wrap: wrap;
    text-align: justify;       
}

  td img{
    transition: all 1000ms ease-in-out;
    border-radius: 20px;
  }

  td:hover img{
    transform: scale(1.2);
    z-index: 2; 
  }

  .box{
    width: 250px;
    height: auto;
    margin: 0 40px; 
    margin-top: 30px;  
    
  }

  .box img{
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: all 1000ms ease-in-out;
  }

  .box:hover img{
    transform: scale(1.2);
    z-index: 2;    
  }

  .profile-image img{
    display: block;
    width: 100%;
    border-radius: 20px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    
  }

/*Link não visitado */
  u:link,
  a:link {
    color: #ff014f;
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
 
  .contact{
    position: relative;
    min-height: 100vh;
    padding: 16px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form{
        /* Centralizar o formulário na pagina */
    margin: 0 auto;
    width: 400px;
    /* Ver o esboço do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

  }

  input, textarea {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #ff014d1e;
    color: #fff;
    transition: all .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
  }
  
  input:focus, textarea:focus {
    /* Para dar um pouco de destaque aos elementos ativos*/
    border-color: #000;
  }
  
  textarea {
    /* Para alinhar corretamente campos de texto multilinha com seus rótulos */
    vertical-align: top;
  
    /* Para dar espaço suficiente para digitar algum texto */
    width: 25em;
    height: 5em;
  }

  input::placeholder,
  textarea::placeholder
  {
      color: #fff;
  }

  input:focus,
  textarea:focus
  {
      background: #ff014f;
  }

  textarea
  {
      width: 100%;
  }
  
  button {
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    cursor: pointer; 
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço
       entre os rótulos e seus campos de texto*/
    margin-left: .9em;
  }

  .newcontainer
  {
    max-width: 1400px;
    margin: auto;
  }

  .roww
  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.coll
{
    width: 50%;
}

  form{
    color: #fff;
    width: 100%;
  }

  form h2{    
    font-size: 1.9em;
    color: #ff014f;
    text-transform: capitalize;
    margin: 1em auto .2em auto;
    justify-content: center;
  }

  form .desc{
    font-size: 14px;
    margin-bottom: 15px;
  }

  .name-group,
  .mail-group,
  .msg
  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form button
  {
    background: #ff014d2f;
    color: #fff;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    cursor: pointer;    
 }

  form button:hover
  {
    background: #ff014f;
    
 }

  .footer {   
    width: 100%;
    background-color: #ff014d2f;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;          
    /* not necessary. makes it so you can't highlight. -webkit- is for safari! */
    -webkit-user-select: none;
    user-select: none;
  }

  .content-container {
    height: 150vh;
  }

  #scroll-to-top {
    position: sticky;
    bottom: 15px;
    /* to keep distance from bottom on footer*/
    margin-bottom: 15px;
    left: 0;
    right: 1%;
    margin-left: auto;   
    color: #fff;
    background: #ff014f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    scroll-behavior: smooth;
  }
   
  html{    
    scroll-behavior: smooth;
  }
